html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand-logo {
  width: 96px;
  display: block;
}

.brand-color-title {
  color: #2d3c49;
}

.brand-color-subtitle {
  color: #7d97ad;
}
